<h1 class="display-2">New issue</h1>
<form (submit)="submit(issueForm)" #issueForm="ngForm">

  <div class="form-group">
    <mat-form-field>
      <input 
        name="location" 
        [(ngModel)]="model.location" 
        matInput type="text" 
        placeholder="Enter location"
        required
        pattern="PC\d+"
        #location="ngModel">
      <mat-error *ngIf="location.invalid && (location.dirty || location.touched) && location.errors.required">
        Location is required!
      </mat-error>
      <mat-error *ngIf="location.invalid && (location.dirty || location.touched) && location.errors.pattern">
        Location must start with PC...!
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <textarea name="description" [(ngModel)]="model.description" matInput aria-describedby="descriptionHelp" placeholder="Enter issue details"></textarea>
    </mat-form-field>
  </div>

  <button [disabled]="!issueForm.valid" type="submit" mat-raised-button color="primary">Save issue</button>
</form>
