<h1 class="display-2">My issues</h1>

<div class="row">
  <div class="col">

    <status-filter [status]="selectedStatus" (onChange)="onFilterChange($event)"></status-filter>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Location</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issue of filteredIssues" (click)="onSelectIssue(issue)" [class.table-info]="issue === selectedIssue">
          <th scope="row">{{ issue.id }}</th>
          <td>{{ issue.location }}</td>
          <td>{{ issue.description }}</td>
          <td>{{ issue.status }}</td>
        </tr>
      </tbody>
    </table>
    Selected issue: {{ selectedIssue | json }}
  </div>

  <div class="col" *ngIf="selectedIssue">
    <issue-form [issue]="selectedIssue"></issue-form>
  </div>

</div>